<!DOCTYPE html>

{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EEYAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Auto notification IT Hackathon/Study information service">
        <meta name="keywords" content="connpass,eeyan,IT">
        <link rel="stylesheet" href="{% static 'eeyan/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'eeyan/css/slide.css' %}">
        <link rel="stylesheet" href="{% static 'eeyan/css/fixmenu_pagetop.css' %}">
        <script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <div id="container">

    <header>
        <h1 id="logo"><a href="index.html"><img src="{% static 'eeyan/images/logo.png' %}" alt="Sample Company"></a></h1>
        <!--PC用（801px以上端末）メニュー-->
        <nav id="menubar">
            <ul>
                <li class="current"><a href="{% url 'index' %}">Home<span>EEYAN home</span></a></li>
                <li><a href="{% url 'loginForm' %}">Login<span>for Provider</span></a></li>
            </ul>
        </nav>
    </header>
    
    <!--小さな端末用（800px以下端末）メニュー-->
    <nav id="menubar-s">
        <ul>
            <li><a href="{% url 'index' %}">Home<span>ホーム</span></a></li>
            <li><a href="{% url 'loginForm' %}">Login for Provider<span>ホーム</span></a></li>
        </ul>
    </nav>
    
    
    <!--スライドショー-->
    <aside id="mainimg">
    {% block slideShow %}
            
    {% endblock %}
    </aside>

    <div id="contents">
    <div id="main">
    {% block main %}

    {% endblock %}
    </div>
    <!--/main-->

    <div id="sub">
    {% block sub %}
    
    {% endblock %}
    </div>
    <!--/sub-->

    </div>
    <!--/contents-->

    </div>
    <!--/container-->

<footer>
<small>Copyright&copy; <a href="index.html">Noov</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
    open_close("menubar_hdr", "menubar-s");
}
</script>
</body>
</html>
