<!--
"base.html" is including JQuery and Bootstrap
-->


{% extends "ss/base.html" %}

<!-- 調整用CSS -->
{% block css %}
  <style type='text/css'>
  body {
    background-color: #FBE158;
  }
  button {
    margin: 3px;
  }
  ul {
    box-shadow: 5px 5px 10px #000;
  }
  .title {
    height: 300px;
    background:#ddd url('https://skytm.sakura.ne.jp/back.png') no-repeat center center;
  }
  main {
    height: 100%;
  }
  h1 {
    font-size: 100px;
  }
  .modal-dialog {
    margin-top: 200px;
  }
  img {
    border:thin solid;
    border-radius: 5px;
  }
  </style>

{% endblock %}

<!-- BODY -->
{% block body %}
<!-- Image and text -->
<header class='container'>
  <div class='row'>
    <button type="button" class="btn btn-outline-dark btn-lg offset-10" data-toggle="modal" data-target="#modal-login">Login for Provider</button>
  </div>
</header>
<main class='title jumbotron'>
  <h1 class='col-3 text-white'>EEYAN</h1>
  <div class='contents container'>
    <div class='row'>
      <div class='list event_list col-6'>
        <ul class="list-group">
          <div class="list-group-item list-group-item-action text-white bg-dark">
            <h2>最近の成果物</h2>
          </div>
          {% for event in events %}
          <li class="list-group-item list-group-item-action container" >
            <div class='row'>
              <h3 class='col-10 center-block' onclick="location.href='{% url 'detail' event.id %}'">{{ event }}</h3>
              <img class='eeyan' src='https://skytm.sakura.ne.jp/eeyan.png'>
            </div>
          </li>
          {% endfor %}



      </ul>
        {{ event_list }}
      </div>
      <div class='list organiser_list offset-1 col-5'>
        <ul class="list-group">
          <div class="list-group-item list-group-item-action text-white bg-dark">
            <h2>ええやん ランキング</h2>
          </div>
        {% for user in users %}
        {% if forloop.counter < 6 %}
          <li class="list-group-item list-group-item-action container" >
            <div class='row'>
              <h3 class='col-10 center-block' onclick="location.href='{% url 'eventList' user.id %}' ">
                {{ user }}</h3><h6 class="col-2">{{ user.eeyan }} EEYAN
              </h6>
            </div>
          </li>
        {% endif %}
          {% endfor %}
        </ul>


      </div>
    </div>
  </div>
</main>

<div class="modal" id="modal-login" tabindex="-1">
    <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- 4.モーダルのヘッダ -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">ログイン</h4>
            </div>
            <!-- 5.モーダルのボディ -->
            <div class="modal-body">
              <form class="form-inline">
                <p class='col-6'>User ID</p>
                <input class="form-control" type="text">
                <p class='col-6'>User Pass</p>
                <input class="form-control" type='password'>
                <p class='col-6'></p>
                <input class="btn btn-outline-success my-2 my-sm-0" type='button' value='Login' onclick="location.href='manage/'">
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- 調整用SCRIPT -->
{% block script %}
  <script>
  </script>
{% endblock %}
